html, body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  background: #f4f4f4;
  background: #2c0733;
}

.Wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffff;
  background: #2c0733;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.8vmin);
  color: #ffff;
  background: #2c0733;
}

.App-names {
  padding-top: calc(10px + 1.8vmin);
  padding-bottom: calc(10px + 1.8vmin);
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.8vmin);
  color: #ffff;
  background: #2c0733;
}

.App-buttons {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .App-buttons {
    flex-direction: column;
  }
  .App-header {
    min-height: 10vh;
  }
}

@media only screen and (min-width: 700px) {
  .App-main {
    font-size: calc(10px + 1.4vmin);
  }
}

/* Button styling based on www.w3schools.com/css/css3_buttons.asp */

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: #ffff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 6px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.button1 {
  background-color:#5acf5d; 
  color:#000000; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: #ffff;
}

.button2 {
  background-color: #01aee7; 
  color:#000000; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #b9d3db;
  color: #ffff;
}

.td-name {
  text-align: left;
  padding-right: 10px;
}

.td-amount {
  text-align: right;
}

#sum-p {
  font-weight: bold;
}

.App-footer,
.push {
  height: 50px;
}

.App-footer{
  background:#1d1d1d;
  color: #ffff;
  padding: 1rem;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}